.img {
	display: inline-block;
	width: 40%; 
  }

  .container {
	text-align: center;
  }
  
  .buttons-container {
	display: inline-block;
	text-align: center;
	margin-left: 5%;
  }

  .botao{
	margin-right: 10px;
	width: none;
	padding: 10px;
  }